    <form action="#" class="z-form">
        <div class="form-head">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p id="header-text"></p>
            <a class="closed-form" id="hider" href="#">X</a>
        </div>
        <div id="feedback-wrap" class="feedback-wrap">
            <div class="form-feedback">
                <P> Отзывов пока нет ...</P>
            </div>
        </div>
        <div class="form-inputs">
            <h3>ваш отзыв</h3>
            <input type="text" id="feedback-name" placeholder="Ваше имя" />
            <input type="text" id="feedback-place" placeholder="Укажите место" />
            <textarea name="text-in" id="feedback-textarea" placeholder="Поделитесь впечетлениями"></textarea>
            <a href="#" id="add">Добавить</a>
        </div>
    </form>