<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>Примеры. Кастомизация макета балуна кластера "Карусель".</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="style/style.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div id="map"></div>
    <div id="popup">
        {{> "./form-feedback.hbs"}}
    </div>
</body>
</html>